<h1>
  {{title}}
</h1>
<h3>
  {{cpt}}
</h3>

<button (click)="incInZone()">Incrémenter dans la ZONE</button>
<button (click)="inOutZone()">Incrémenter en dehors de la ZONE</button>
<button (click)="callApi()">Call API</button>
